/* GLOBAL VARIABLES */

:root {
    /*color scheme*/
    --defaultColor: black;
    --tertiaryColor: gold;
    --secondaryColor: rgb(45, 25, 0);
    --impactLight: rgba(0, 225, 255, 0.10);
    --dangerDark: rgb(73, 0, 12);
    --dangerLight: rgb(255, 155, 172);
    --highlight: rgba(255, 255, 255, 0.25);
    --textHighlight: white;
    /* sizes */
    --tinyEdge: 5px;
    --roundEdge: 10px;
    --rounderEdge: 25px;
    --globalMar: 1rem;
    --globalPad: 1rem;
    /*fonts*/
    --defaultFont: 'Roboto', sans-serif;
    --impactFont: 'Alegreya Sans SC', sans-serif;
}

/*IMPORTED FONTS*/
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

main {
    flex-direction: column;
}

/*POST CSS*/
.post_wrap {
    border-bottom: 2px dotted var(--dangerDark);
    align-items: center;
}

    .post_wrap img {
        width: 276px;
    }

    .post_img {
        background-color: black;
        width: 276px;
        height: 276px;
    }

    .post_content {
        color: var(--tertiaryColor);
    }
        .post_content p {
            color: var(--textHighlight);
        }

/*COMMENTS*/
.comment_container {
    color: var(--tertiaryColor);
}

    .comment_container h2 {
        text-indent: 1rem;
    }

    .comment_card {
        background-color: var(--highlight);
    }