/* GLOBAL VARIABLES */

:root {
    /*color scheme*/
    --defaultColor: black;
    --background: gold;
    --secondaryColor: rgb(45, 25, 0);
    --dangerDark: rgb(73, 0, 12);
    --dangerLight: rgb(255, 155, 172);
    --whiteSmoke: rgba(255, 255, 255, 0.74);
    /* sizes */
    --roundEdge: 10px;
    --rounderEdge: 25px;
    --globalMar: 1rem;
    --globalPad: 1rem;
    /*fonts*/
    --defaultFont: 'Roboto', sans-serif;
    --impactFont: 'Alegreya Sans SC', sans-serif;
}

/*IMPORTED FONTS*/
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*SET DEFAULTS*/
body {
    background-color: var(--defaultColor);
    font-family: 'Roboto', sans-serif;
}

/*COMBINED PROPS*/
/* flex column */
    .container, .form {
        display: flex;
        flex-direction: column;
    }

/* flex row */
    main, footer, nav, header {
        display: flex;
        flex-direction: row;
    }

/*secondary bg color*/
    header, footer, .btn {
        background-color: var(--secondaryColor);
        background-image: url(../img/rough_texture_trans_15.png);
    }

/*global pading*/
    header, main, footer {
        padding: var(--globalPad);
    }

/*CONTAINER*/
.container {
    margin: 0px auto;

    max-width: 1080px;
    min-width: 440px;
    background-color: var(--background);
}

/*CHILDREN OF CONTAINER*/
/*HEADER*/
header {
    justify-content: space-between;
    align-items: center;
}

    nav {
        justify-content: flex-end;
    }

/*MAIN*/
main {
    background-image: url(../img/shadowlands_bg_fade.png);
    background-size: cover;
}

    .left_container {
        flex: 2;
        margin-left: 3rem;
        margin-right: var(--globalMar);
    }

    .left_container p {
        text-indent: 4rem;
        text-align: center;
    }

            #blog_logo_big {
                width: 75%
            }

    .right_container {
        flex: 1;
        margin-left: var(--globalMar);
        margin-right: 3rem;

        background-image: url(../img/line_blur.png);
        background-size:cover;
        
        border: 2px solid black;
        border-left: none;
    }

        .form {
            text-align: center;
            margin-bottom: var(--globalMar);
            color: white;
        }

        .form h2 {
            font-family: var(--impactFont);
        }

            .btn {
                align-self: center;
                color: white;
                border: 2px solid black;
                width: 144px;
                height: 44px;
                font-size: 125%;
                font-family: var(--impactFont);
            }

                .btn:hover {
                    background-color: var(--dangerDark);
                    font-size: 110%;
                    transition: 250ms;
                }

            small {
                color: var(--dangerLight);
            }

/*FOOTER*/
footer {
    justify-content: space-between;
}

    .blog_card {
        background-color: var(--background);
        width: 270px;
        height: 270px;
    }